
h1 {font-weight:400; font-size: 35px; line-height: 35px;}
h1 span {font-weight:400; font-size: 35px; line-height: 35px;  color: #ffae22;}

h2 {font-size: 15px; line-height: 16px; font-weight:300; color:#eee;}
h2 span {font-style:italic; font-size: 15px; line-height: 16px; font-weight:300; color:#ccc;}

h3 {font-size: 16px; line-height: 16px;color:#222;}
h3 span { font-size: 16px; line-height: 16px; color:#222;}

h4 {font-size: 13px; line-height: 13px;color:#aaa;font-weight:300;}
h4 span { font-size: 13px; line-height: 13px; color:#aaa;font-weight:300;}

p {font-size: 12px; line-height: 15px;}
